.leader_board_wrapper {
    .board_wrapper {
        width: 95%;
        .board_header {
            span {
                box-sizing: border-box;
                display: inline-block;
                text-align: center;
                font-weight: lighter;
            }
            span:nth-child(1) {
                width: 20%;
            }
            span:nth-child(2) {
                width: 55%;
            }
            span:nth-child(3) {
                width: 20%;
                text-align: right;
            }
        }
        .board_content {
            .board_content_row {
                span {
                    &:nth-child(1) {
                        width: 20%;
                        text-align: center;
                    }
                    &:nth-child(2) {
                        width: 55%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
        }
    }
}
