.profile_wrapper {
    .get_started_wrapper {
        box-sizing: border-box;
        margin-top: 30px;
        p {
            display: block;
            font-size: 30px;
            text-align: center;
            line-height: 30px;
            font-weight: lighter;
        }
        .get_started_button {
            box-sizing: border-box;
            display: block;
            position: static;
            margin: 0 auto;
            margin-top: 50px;
            width: 75px;
            height: 75px;
            font-size: 70px;
            padding: 2px;
        }
    }
    .profile_info_wrapper {
        position: relative;
        margin-top: 35px;
        .profile_info_ball {
            display: inline-block;
            width: 60px;
            height: 60px;
            padding-top: 20px;
            font-size: 20px;
            font-weight: lighter;
            &:before {
                display: inline-block;
                color: black;
                width: 121%;
                height: 30px;
                position: absolute;
                font-size: 14px;
                left: -10.5%;
                top: -25px;
                text-transform: uppercase;
                font-weight: lighter;
                text-align: center;
            }
        }
        .transfer_ball {
            left: 20px;
            top: -50px;
            &:before {
                content: 'Transfers';
            }
        }
        .rank_ball {
            left: calc(50% - 30px);
            &:before {
                content: 'Rank'
            }
        }
        .points_ball {
            right: 20px;
            top: -50px;
            &:before {
                content: 'Points'
            }
        }
    }
}
