.profile_wrapper {
    .get_started_wrapper {
        box-sizing: border-box;
        margin-top: 30px;
        p {
            display: block;
            font-size: 30px;
            text-align: center;
            line-height: 30px;
            font-weight: lighter;
        }
        .get_started_button {
            box-sizing: border-box;
            display: block;
            position: static;
            margin: 0 auto;
            margin-top: 50px;
            width: 75px;
            height: 75px;
            font-size: 70px;
            padding: 2px;
        }
    }
    .profile_info_wrapper {
        position: relative;
        margin-top: 35px;
        height: 60px;
        .profile_info_ball {
            display: inline-block;
            width: 60px;
            height: 60px;
            padding-top: 20px;
            font-size: 20px;
            font-weight: lighter;
            &:before {
                display: inline-block;
                color: black;
                width: 121%;
                height: 30px;
                position: absolute;
                font-size: 14px;
                left: -10.5%;
                top: -25px;
                text-transform: uppercase;
                font-weight: lighter;
                text-align: center;
            }
        }
        .transfer_ball {
            left: 20px;
            top: -50px;
            &:before {
                content: 'Transfers';
            }
        }
        .rank_ball {
            left: calc(50% - 30px);
            &:before {
                content: 'Rank'
            }
        }
        .points_ball {
            right: 20px;
            top: -50px;
            &:before {
                content: 'Points'
            }
        }
    }
    .current_squad_wrapper {
        .table_header {
            position: relative;
            i {
                position: absolute;
                right: 10px;
                top: 8px;
                display: inline-block;
                width: 25px;
                height: 25px;
                font-size: 16px;
                box-sizing: border-box;
                padding: 3px 5px;
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    border: 1px solid white;
                    -webkit-transform: rotate(45deg);
                }
            }
        }
        .table_content {
            .table_content_row {
                .player_icon i {
                    display: inline-block;
                    margin: 0 auto;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-size: 10px;
                    background-position: center center;
                    background-color: $theme-primary-color;
                    background-repeat: no-repeat;
                    margin-left: 10x;
                }
                span {
                    &:nth-child(1) {
                        width: 10%;
                        text-align: center;
                    }
                    &:nth-child(2) {
                        width: 65%;
                        vertical-align: top;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: right;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    .recent_matches_wrapper {
        .table_content_row {
            position: relative;
            height: 40px;
            padding-top: 10px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
            }
            &:before {
                left: -1px;
                top: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 40px solid $theme-primary-color;
            }
            &:after {
                right: -1px;
                top: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-right: 40px solid $theme-primary-color;
            }
            .ball {
                width: 30px;
                height: 30px;
                left: calc(50% - 15px);
                top: 5px;
                padding-top: 5px;
                font-size: 12px;
            }
            span {
                width: 30%;
                text-align: center;
                &:nth-child(1) {
                    float: left;
                    margin-left: 45px;
                }
                &:nth-child(3) {
                    float: right;
                    margin-right: 45px;
                }
            }
        }
    }
}
