<ion-modal-view>
    <ion-content>
        <div class="filter_modal_wrapper">
            <div class="header">Filter</div>
            <div class="filter_options_wrapper">
                <ul class="list">
                    <li class="item item-input item-select">
                        <div class="input-label">
                            Select Team
                        </div>
                        <select>
                            <option>Blue</option>
                            <option selected>Green</option>
                            <option>Red</option>
                        </select>
                    </li>
                    <li class="item item-input item-select">
                        <div class="input-label">
                            Select Player Type
                        </div>
                        <select>
                            <option>Blue</option>
                            <option selected>Green</option>
                            <option>Red</option>
                        </select>
                    </li>
                    <li class="item item-toggle">
                        HTML5
                        <label class="toggle toggle-assertive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <button type="button" class="button button-primary button-block filter_button" ng-click="saveFilter()">Filter</button>
        </div>
    </ion-content>
</ion-modal-view>
