<ion-modal-view>
    <ion-content>
        <div class="filter_modal_wrapper">
            <div class="header">Filter</div>
            <div class="filter_options_wrapper">
                <ul class="list">
                    <li class="item item-input item-select">
                        <div class="input-label">
                            Select Team
                        </div>
                        <select ng-model="filterObject.teamId">
                            <option value="-1">All Teams</option>
                            <option ng-repeat="team in fantasyTeams" value="{{ team.teamId }}">{{ team.teamName }}</option>
                        </select>
                    </li>
                    <li class="item item-input item-select">
                        <div class="input-label">
                            Select Player Type
                        </div>
                        <select ng-model="filterObject.playerTypeId">
                            <option value="-1">All Player Types</option>
                            <option ng-repeat="playerType in playerTypes" value="{{ playerType.typeId }}">{{ playerType.typeName }}</option>
                        </select>
                    </li>
                    <ion-toggle ng-model="filterObject.impactPlayer.isChecked" ng-checked="filterObject.impactPlayer.isChecked">
                        {{ filterObject.impactPlayer.text }}
                    </ion-toggle>
                </ul>

                {{ filterObject.impactPlayer.isChecked }}
            </div>
            <button type="button" class="button button-primary button-block filter_button" ng-click="saveFilter()">Filter</button>
        </div>
    </ion-content>
</ion-modal-view>
