<ion-view>
    <span class="menu_button ball" ng-click="toggleLeft()">
        <i class="icon ion-navicon"></i>
    </span>
    <ion-content>
        <div class="leader_board_wrapper page_wrapper">
            <triangle with_avnet_logo></triangle>
            <div class="leader_board_banner banner">Leader Board</div>
            <div class="table_wrapper board_wrapper">
                <div class="table_header board_header ">
                    <span>Rank</span>
                    <span>Team Name</span>
                    <span>Points</span>
                </div>
                <ul class="table_content board_content list_card">
                    <li class="table_content_row board_content_row" ng-repeat="team in leaderBoard">
                        <span>{{ $index + 1 }}</span>
                        <span>{{ team.teamName }}</span>
                        <span>{{ team.points }}</span>
                    </li>

                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
