<ion-view>
    <div class="leader_board_wrapper page_wrapper">
        <triangle with_avnet_logo></triangle>
        <span class="menu_button ball" ng-click="toggleLeft()">
            <i class="icon ion-navicon"></i>
        </span>
        <div class="leader_board_banner banner">Leader Board</div>
        <div class="board_wrapper">
            <div class="board_header table_header">
                <span>Rank</span>
                <span>Team Name</span>
                <span>Points</span>
            </div>
            <ul class="board_content list_card">
                <li class="board_content_row">
                    <span>1</span>
                    <span>asdfsa</span>
                    <span>1234</span>
                </li>
                <li class="board_content_row">
                    <span>2</span>
                    <span>asdf</span>
                    <span>14</span>
                </li>
                <li class="board_content_row">
                    <span>3</span>
                    <span>asdfdsa</span>
                    <span>123</span>
                </li>
                <li class="board_content_row">
                    <span>4</span>
                    <span>sdfas</span>
                    <span>1342</span>
                </li>
                <li class="board_content_row">
                    <span>5</span>
                    <span>sdfas</span>
                    <span>231</span>
                </li>
                <li class="board_content_row">
                    <span>6</span>
                    <span>asfa</span>
                    <span>54</span>
                </li>
                <li class="board_content_row">
                    <span>7</span>
                    <span>safdas</span>
                    <span>5463</span>
                </li>
                <li class="board_content_row">
                    <span>8</span>
                    <span>gkjhg</span>
                    <span>6763</span>
                </li>
                <li class="board_content_row">
                    <span>9</span>
                    <span>sdfas</span>
                    <span>67</span>
                </li>
                <li class="board_content_row">
                    <span>10</span>
                    <span>sadfas</span>
                    <span>6745</span>
                </li>
            </ul>
        </div>
    </div>
</ion-view>
