<ion-view>
    <span class="menu_button ball" ng-click="toggleLeft()">
        <i class="icon ion-navicon"></i>
    </span>
    <ion-content>
        <div class="page_wrapper profile_wrapper">
            <triangle></triangle>
            <!-- <div class="get_started_wrapper">
            <div class="get_started_message">
                <p>Get Started</p>
                <p>Create Your Team</p>
            </div>
            <span class="ball get_started_button" ng-click="getStarted()">
                <i class="icon ion-ios-plus-empty"></i>
            </span>
        </div> -->
            <div class="profile_info_wrapper">
                <span class="ball profile_info_ball transfer_ball">100</span>
                <span class="ball profile_info_ball rank_ball">10</span>
                <span class="ball profile_info_ball points_ball">1000</span>
            </div>
            <div class="table_wrapper current_squad_wrapper">
                <div class="table_header" ng-click="loadSquadSelection()">Squad
                    <i class="ion-edit"></i>
                </div>
                <ul class="table_content">
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>asdfas</span>
                        <span>476</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>adfsdf</span>
                        <span>457</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>asdf</span>
                        <span>457</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>dfghsd</span>
                        <span>74567</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>fdhd</span>
                        <span>5678</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>zxvx</span>
                        <span>8657</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>ytjt</span>
                        <span>7856</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>gdfshg</span>
                        <span>578</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>gadfg</span>
                        <span>2345</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>fddghds</span>
                        <span>452</span>
                    </li>
                    <li class="table_content_row">
                        <span class="player_icon"><i class="batsman"></i></span>
                        <span>fddasdfghds</span>
                        <span>34523</span>
                    </li>
                </ul>
            </div>
            <div class="table_wrapper recent_matches_wrapper">
                <div class="table_header">Recent Matches</div>
                <ul class="table_content">
                    <li class="table_content_row">
                        <span>Strikers</span>
                        <span class="ball">123</span>
                        <span>Superstars</span>
                    </li>
                    <li class="table_content_row">
                        <span>Hurricanes</span>
                        <span class="ball">345</span>
                        <span>Scorchers</span>
                    </li>
                    <li class="table_content_row">
                        <span>Hurricanes</span>
                        <span class="ball">78</span>
                        <span>Superstars</span>
                    </li>
                    <li class="table_content_row">
                        <span>Scorchers</span>
                        <span class="ball">890</span>
                        <span>Strikers</span>
                    </li>
                    <li class="table_content_row">
                        <span>Superstars</span>
                        <span class="ball">199</span>
                        <span>Hurricanes</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
