<ion-view>
    <ion-content>
        <div class="squad_selection_wrapper">
            <div class="header squad_selection_header">
                Squad Selection
                <i class="icon ion-ios-arrow-back go_back_button" ng-click="goBack()"></i>
            </div>
            <div class="header next_match_header">Next Match: Hurricanes Vs Superstars</div>
            <div class="status_icons_wrapper">
                <div class="status_icon">
                    <span class="rotated_icon">
                    <i class="icon ion-cash"></i> 
                </span>
                    <span class="status_text">$ {{ teamProfile.moneyLeft }}</span>
                </div>
                <div class="status_icon">
                    <span class="rotated_icon">
                    <i class="icon ion-arrow-swap"></i> 
                </span>
                    <span class="status_text">{{ teamProfile.transfersLeft }}</span>
                </div>
                <span class="ball filter_ball" ng-click="showFilterModal()">
                <i class="icon ion-funnel"></i> 
            </span>
            </div>
            <div class="conditions_wrapper">
                <span class="condition" ng-repeat="conditionName in conditionNames" ng-class="conditions[conditionName] ? 'condition_pass' : 'condition_fail'" ng-click="showConditionMessage(conditionName)"></span>
            </div>
            <div class="team_selection_wrapper">
                <div class="current_team_wrapper">
                    <div class="table_wrapper">
                        <div class="table_header">Squad</div>
                        <ul class="table_content">
                            <li class="table_content_row {{ player.teamName }}" ng-class="{ is_captain : player.isCaptain == 1 }" ng-repeat="player in currentTeam" on-double-tap="removePlayerFromSquad({{ player.playerId }})" on-hold="makeCaptain({{ player.playerId }})">
                                <span class="player_icon"><i class="batsman"></i></span>
                                <span>{{ player.playerName }}</span>
                                <span> ${{ player.playerPrice }}</span>
                            </li>
                            <div class="message" ng-show="currentTeam.length == 0">
                                {{ AFL_MESSAGES.NO_PLAYERS_SELECTED }}
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="roster_wrapper">
                    <div class="table_wrapper">
                        <div class="table_header">Roster</div>
                        <div class="scroll_up" ng-class="(rosterPageNumber != 1)? 'visible' : 'invisible'" ng-click="showPreviousPage()">
                            <i class="icon ion-ios-arrow-up"></i>
                        </div>
                        <div class="translate_div">
                            <ul class="table_content roster_list">
                                <li class="table_content_row {{ player.teamName }}" ng-repeat="player in filteredRoster = (roster | rosterfilter:this)" on-double-tap="addPlayerToSquad({{ player.playerId }})">
                                    <span class="player_icon"><i class="{{ player.playerType }}"></i></span>
                                    <span>{{ player.playerName }}</span>
                                    <span> ${{ player.playerPrice }}</span>
                                </li>
                                <li class="filler" style="height : {{ (11 - (filteredRoster.length % 11)) * 30 + 'px' }}">
                                </li>
                            </ul>
                        </div>
                        <div class="scroll_down" ng-class="(roster.length > (rosterPageNumber * 11)) ? 'visible' : 'invisible'" ng-click="showNextPage()">
                            <i class="icon ion-ios-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_button_wrapper">
                <button type="button" class="button button-primary button-block save_squad_button" ng-click="saveSquad()">Save</button>
                <button type="button" class="button button-primary button-block reset_squad_button" ng-click="resetSquad()">Reset</button>
            </div>
        </div>
    </ion-content>
</ion-view>
